---

import LogoBanner from "assets/images/logo-banner.svg";
import {MENU} from "consts/menu";
---

<header class="fixed top-0 z-50 h-28 w-full select-none p-2 mx-auto flex items-center justify-center backdrop-blur-2xl shadow-b">
  
  <nav class="w-full flex items-center max-w-[1200px]">    
    <a href="" class="transition-transform hover:scale-[1.02] duration-300 will-change-transform">
      <LogoBanner width={300} height={150} />
    </a>

    <div class="hidden flex-1 justify-end gap-6 lg:flex">
      {
        MENU.map(({name, path}) => (
          <a href={path} class="text-white hover:text-yellow-400 font-semibold p-2 text-lg transition-transform duration-300 will-change-transform hover:scale-105 origin-center">{name}</a>
        ))
      }
    </div>
  </nav>

</header>


