---
---

<section>
    Hero of aplication
</section>


<style>
  section {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>