---
// import ImageHero from "assets/images/hero.webp"

---

<section class="relative w-full h-[90vh] flex justify-center items-center">

    <div class="absolute w-full h-full bg-[url('/images/hero-1.webp')] bg-cover blur-3xl"></div>
    <div class="absolute w-full h-full bg-black z-20 opacity-20 mask-b-from-80%"></div>
    
    <article class="w-full h-[90%] z-10 p-4">
        <img 
        src="images/hero-1.webp" 
        alt="Imagen con estudiantes en talleres extraescolares" 
        class="w-full h-full object-cover mask-r-from-98% mask-l-from-98% mask-t-from-98% mask-b-from-98% rounded-3xl"
        />
    </article>
    

</section>


<style>

</style>