---
import directoraImg from "assets/images/directora.webp"
import { Image } from "astro:assets"
---

<section class="relative w-full flex justify-center items-center py-20 bg-rose-200">
    <div class="grid grid-cols-2">
        <article class="w-full flex justify-end">
            <Image 
                src={directoraImg} 
                alt="Foto de la directora Isabel Rodríguez" 
                loading="lazy" 
                format="webp" 
                class="rounded-2xl w-[400px] h-[650px]" 
            />
        </article>
    
        <article class="w-full flex justify-start">
            <div>
                Mensaje de la directora
            </div>
        </article>
    </div>

    


</section>